extends layout

block content
    h1= title

    p
        | This is a prototype app that builds a geneaology graph. Currently you can add persons. Next will be the ability to create relationships between persons. 

    p
        strong
            | Get started:&nbsp;
            a(href='/persons') View all persons
