extends layout
block content
    body(onload="draw();")

    h1= title

    p
        | This is a prototype app that builds a geneaology graph. Currently you can add people and identify their parents.

    p
        strong
            | Get started:&nbsp;
            a(href='/persons') View all persons

    p  
            <canvas id="c1" width="200" heigth="128">
            two squares
            </canvas>

