extends layout

block content
    h1= title

    p
        | This is a prototype app that builds a geneaology graph. Currently you can add people and identify their parents.

    p
        strong
            | Get started:&nbsp;
            a(href='/persons') View all persons
