extends layout

block content
    h1= title

    p
        | This is a prottype app that builds a geneaology graph. 
        | Thanks to this app from Asheem Lishore:
        | [http://node-neo4j-template.com/](http://node-neo4j-template.com/).
        | for helping me to get started.
        .

    p.
            This app lets you add  persons and define the lineage between them. i.e
            Eddie -- is the father of -- Tommy.

    p
        strong
            | Get started:&nbsp;
            a(href='/persons') View all persons
