extends layout

block content
    h1 #{person.name}

    p 
          p  Born: #{person.born}
    p        
            if inbound.length
              p Offspring:
              for individual in inbound
                li.inbound #{individual.name} 
    p
            if outbound.length
              p Genetic Parents:
              for individual in outbound
                li.outbound #{individual.name}
    
    p
            a(href='/persons') Back to everyone

    
            


