extends layout

block content
    h1 #{person.name}

    p 
          p  Born: #{person.born}
    p        
            if inbound.length
              p Offspring:
              for individual in inbound
                li.inbound #{individual.name} 
    
    
    p
            a(href='/persons') Back to everyone

    
            


